@import url("/assets/css/reset.css");

/* ----------------------------------------------------------Colors */

.background-black {
    background-color: #161616;
}

.facebook-blue:hover {
    background-color: #3b5998;
}

.linkedin-blue:hover {
    background-color: #1a81ad;
}

.youtube-red:hover {
    background-color: #cc181e;
}

.vimeo-blue:hover {
    background-color: #44bbff;
}

.instagram-blue:hover {
    background-color: #3f729b;
}

/* ----------------------------------------------------------Special paddings/margins/text */

h1,
h2,
h3 {
  display: flex;
  font-family: "Roboto", sans-serif;
}

/* ----------------------------------------------------------Classes */

.body {
  line-height: 1.8;
  font-family: "Open Sans", sans-serif;
  margin: 0 7.5% 0 7.5%;
  background-color: #fafafa;
  color: #333333;
}

.orange-bold {
  font-size: 1rem;
  font-weight: bold;
  color: #e86b3e;
}

input.has-error {
  border: solid 1px #e86b3e;
}

.input-error-message {
  display: block;
  color: #e86b3e;
}

/* ----------------------------------------------------------Header */

header {
    margin: 1rem 7.5% 1rem 7.5%;
}

.logo img {
    width: 225px;
}

header button {
    font-size: 22px;
    float: right;
    width: 40px;
    height: 40px;
}

header nav ul {
    list-style: none;
    padding-inline-start: 0px;
    line-height: 1.8;
}

header nav ul li {
    color: rgb(68,68,68);
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    letter-spacing: 0rem;
    text-transform: uppercase;
    border: 1px solid;
    padding: 0.75rem 0.95rem;
    margin: 0 0 11px;
}

header nav ul li a {
    color: rgb(68,68,68);
    text-decoration: none;
    font-size: 14px;
}

/* ----------------------------------------------------------Forms */

form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

input,
textarea {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #a09b9b;
  width: 100%;
}

button {
  width: 40%;
  font-size: 1.2rem;
  height: 4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #333333;
  color: #ffffff;
}

/* ----------------------------------------------------------Footer */

footer, footer > div {
  font-family: "Roboto", sans-serif;
  background-color: #1b1b1b;
  color: #FFFFFF;

  text-align: center;
  display: flex;
  flex-flow: column;
}

footer > div > h3,
footer > div > h4,
footer > div > h6,
footer > div > h6 > a {
    font-weight: 900;
}

footer > div > h3 {
    display: block;
    font-size: 2rem;
}

footer > div > h4 {
    font-size: 1.5rem;
}

footer > div > h6 {
    font-size: 1rem;
}

footer > div > h6 > a {
    color: #333333;
}

footer > div > h6 > a:hover {
    color: #e86b3e;
}

footer > nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    background-color: #222222;
    padding: 3rem 0 3rem 0;
}

footer > nav > a {
  color: #ffffff;
  border-radius: 60px;
  background-color:rgba(255,255,255,0.2);
  box-shadow: 0px 0px 2px #333333;
  padding: 0.5em 0.6em;
}